@import "rsuite/dist/rsuite.css";
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles or in the same component where the InputNumber is used */
.hide-dropdown-icon .rs-input-number-dropdown-toggle {
  display: none !important;
}

.mobile-judul {
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.mobile-judul2 {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}

.judul {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidennscroll::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidennscroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.specialDay {
  /* Contoh: */
  background-color: #ffecb3 !important; /* Warna latar untuk hari khusus */
  color: red !important; /* Warna teks untuk hari khusus */
  border: none !important; /* Menghilangkan border */
  box-shadow: none !important; /* Menghilangkan shadow */
}


/* .css-1hbyad5-MuiTypography-root{
  display: none !important;

}
.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title {

  display: none !important;

} */

/* CustomStyles.css */
.rmdp-shadow {
  box-shadow: none !important;
}


.day-in-month {
  cursor: pointer;
}

.disabled-day {
  text-decoration: line-through;
  color: #ccc;
  cursor: not-allowed;
}

.customButtonStyle {
  border-radius: 5px !important; /* Ensures override */
  border-color: rgb(229 231 235);
}

.customButton:hover, .customButton:focus {
  border-color: rgb(229 231 235) !important; /* Warna border saat hover dan focus */
  color: black !important; /* Sesuaikan warna teks jika perlu */
}

.customButton:active {
  border-color: rgb(229 231 235) !important; /* Warna border saat diklik */
}

/* .css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-hlj6pa-MuiDialogActions-root{
  display: none !important;
} */

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }

  .input-phone-number input{
    border:none;
    padding:10px 0px 10px 0px;
    color: gray;
  }

  .input-phone-number input:focus{
    outline: none !important;
    border:none !important;
    box-shadow: none !important;
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

.flex-no-wrap {
  flex-wrap: nowrap;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}  

.cls-1{fill:#d6b49a;}.cls-1,.cls-10,.cls-11,.cls-13,.cls-14,.cls-15,.cls-17,.cls-2,.cls-4,.cls-5,.cls-6{stroke:#000;}.cls-1,.cls-11,.cls-13,.cls-14,.cls-16,.cls-8{stroke-linecap:round;stroke-linejoin:round;}.cls-1,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{stroke-width:3px;}.cls-2{fill:#020202;}.cls-10,.cls-12,.cls-15,.cls-17,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-9{stroke-miterlimit:10;}.cls-3{fill:#818181;}.cls-12,.cls-16,.cls-3,.cls-7,.cls-8,.cls-9{stroke:#191818;}.cls-4{fill:#dcdbda;}.cls-5{fill:#4ea7f1;}.cls-14,.cls-6{fill:#f8f3ed;}.cls-16,.cls-7{fill:#333;}.cls-13,.cls-8{fill:none;}.cls-9{fill:#f8f59c;}.cls-10,.cls-11{fill:#f3d2c9;}.cls-15{fill:#8bb174;}.cls-17{fill:#da4e22;}