@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input-phone-number input{
    border:none;
    width: 80%;
  }

  .input-phone-number input:focus{
    outline: none !important;
    border:none !important;
    box-shadow: none !important;
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
